# MAC OS
.DS_Store

# PHP Intel
.phpintel

# Old versioning system
*.version

# Temporary files
*.tmp

# Database (decompressed)
data/database/*.txt

# PHP Documentor
build
output

# Private (setup generator)
xx_PRIVATE