# MAC OS
.DS_Store

# PHP Intel
.phpintel

# Old versioning system
*.version

# Temporary files
*.tmp

# Log files
*.log

# Database (decompressed)
data/database/*.txt
data/database/*.PTlock
data/database/x*

# PHP Documentor
build
output
Documentation/phpdoc-cache-*

# Private (setup generator)
xx_PRIVATE

# Removed since #70
Documentation

#Disable cgi-bin
cgi-bin