/*--- Avanquest WebEasy Page Style ---*/


span#e8             { /* p08side.gif */
	background      : transparent url(p08side.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :  75.00pt;
	width           : 112.50pt;
	height          : 300.00pt;
	}
span#e7             { /* p08fritop.gif */
	background      : transparent url(p08fritop.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 373.50pt;
	height          :  75.00pt;
	}
img#e6              { /* mijn_wereld002006.gif */
	position        : absolute;
	left            :   0.00pt;
	top             : 141.75pt;
	width           : 112.50pt;
	height          :  19.50pt;
	}
span#e5             { /* p08butfri.gif */
	background      : transparent url(p08butfri.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 171.75pt;
	width           : 112.50pt;
	height          :  19.50pt;
	}
img#e4              { /* mijn_wereld002004.gif */
	position        : absolute;
	left            :   0.00pt;
	top             : 233.25pt;
	width           : 112.50pt;
	height          :  19.50pt;
	}
img#e3              { /* mijn_wereld002002.gif */
	position        : absolute;
	left            :   0.00pt;
	top             : 202.50pt;
	width           : 112.50pt;
	height          :  19.50pt;
	}
div#e2              { /* Demi Moore\ \Nicole Kidm... */
	text-align      : left;
	position        : absolute;
	left            : 123.75pt;
	top             : 202.50pt;
	width           : 261.75pt;
	height          : 237.75pt;
	}
img#e1              { /* mijn_wereld002001.jpg */
	position        : absolute;
	left            : 123.75pt;
	top             :  90.00pt;
	width           : 132.00pt;
	height          :  99.00pt;
	}



/*--- EndOfFile ---*/
